#top-right {
    position: absolute; /* Позиционирование относительно окна браузера */
    top: 10px; /* Отступ от верхнего края */
    right: 10px; /* Отступ от правого края */
    font-size: 24px; /* Размер шрифта */
    color: black; /* Цвет текста */
}
#top-right p {
    display: inline;
    margin: 0; /* Убираем отступы у параграфа */
    margin-right: 10px; /* Отступ между текстом и кнопкой */
}

#myButton {
    background-color: #00adfa;
    border-radius: 30px;
    box-shadow: 1px 1px 1px;
    font-weight: 300;
    color: aliceblue;
}